

body{
  background-color: #99b3ff;
  text-align:center;
  padding-left: 11em;
}

h1, h2, h3, p{
 color:#404040;
 font-family: arial;
}


h2{
  font-size: 35px;
}

h3{
  font-size:30px;
}

table.dotted{
  border-style:dotted;
  margin-left: auto;
  margin-right:auto;
}


hr.faded{
  border:0;
  height:1px;
  background-image:linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75),
   rgba(0,0,0,0));
}

li>a:hover{
  color:red;
}

div.gallery{
  text-align: center;
}

div.personal{
  margin-left: auto;
  margin-right: auto;
  width:60%;
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),
  0 6px 20px 0 rgba(0,0,0,0.19);
  margin-bottom:25px;
}
div.container{
  text-align: center;
  padding: 10px 20px;
}

div.personal img{
  display:block;
  margin:auto;
}


img.principalphoto{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav.navbar ul{
  list-style-type: none;
  padding: 0;
  margin:0;
  position: absolute;
  top: 2em;
  left:1em;
  width:9em;
  color:#404040;
  font-family: arial;
  height: 100%;
  position: fixed;
  overflow:auto;
}

nav.navbar ul li{
  background: #cccccc;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right:1em;
}

nav.navbar ul a{
  text-decoration: none;
}
